<?xml version="1.0"?>
<config>
    <modules>
        <Steerfox_Plugins>
            <version>1.0.5</version>
        </Steerfox_Plugins>
    </modules>
    <global>
        <blocks>
            <steerfox_plugins>
                <class>Steerfox_Plugins_Block</class>
            </steerfox_plugins>
        </blocks>
        <helpers>
            <steerfox_plugins>
                <class>Steerfox_Plugins_Helper</class>
            </steerfox_plugins>
            <steerfox_core>
                <class>Steerfox_Plugins_Helper</class>
            </steerfox_core>
            <steerfox_helper>
                <class>Steerfox_Plugins_Helper</class>
            </steerfox_helper>
        </helpers>
        <models>
            <steerfox_plugins>
                <class>Steerfox_Plugins_Model</class>
                <resourceModel>steerfox_plugins_resource</resourceModel>
            </steerfox_plugins>
            <steerfox_plugins_resource>
                <class>Steerfox_Plugins_Model_Resource</class>
                <entities>
                    <product>
                        <table>steerfox_plugins_products</table>
                    </product>
                    <log>
                        <table>steerfox_plugins_logs</table>
                    </log>
                </entities>
            </steerfox_plugins_resource>
        </models>
        <resources>
            <steerfox_plugins_setup>
                <setup>
                    <module>Steerfox_Plugins</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </steerfox_plugins_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <steerfox_plugins>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>afterCatalogProductSave</method>
                    </steerfox_plugins>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <steerfox_plugins>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>afterCatalogProductDelete</method>
                    </steerfox_plugins>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_attribute_update_after>
                <observers>
                    <steerfox_plugins>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>afterProductMassUpdate</method>
                    </steerfox_plugins>
                </observers>
            </catalog_product_attribute_update_after>
            <catalog_product_website_update>
                <observers>
                    <steerfox_plugins>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>afterProductMassUpdate</method>
                    </steerfox_plugins>
                </observers>
            </catalog_product_website_update>
            <catalog_product_import_finish_before>
                <observers>
                    <steerfox_plugins>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>afterCatalogProductImport</method>
                    </steerfox_plugins>
                </observers>
            </catalog_product_import_finish_before>
            <checkout_cart_add_product_complete>
                <observers>
                    <steerfox_add_to_cart>
                        <class>steerfox_plugins/observer</class>
                        <method>notifyAddToCart</method>
                    </steerfox_add_to_cart>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_onepage_controller_success_action>
                <observers>
                    <steerfox_order_success>
                        <class>steerfox_plugins/observer</class>
                        <method>setTagsOnOrderSuccessPageView</method>
                    </steerfox_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <steerfox_order_success>
                        <class>steerfox_plugins/observer</class>
                        <method>setTagsOnOrderSuccessPageView</method>
                    </steerfox_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <admin_system_config_changed_section_steerfox_plugins>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>sectionUpdate</method>
                    </modulename>
                </observers>
            </admin_system_config_changed_section_steerfox_plugins>
            <admin_session_user_login_success>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>checkPluginVersion</method>
                    </modulename>
                </observers>
            </admin_session_user_login_success>
            <website_delete_after>
                <observers>
                    <modulename>
                        <type>singleton</type>
                        <class>steerfox_plugins/observer</class>
                        <method>websiteRemove</method>
                    </modulename>
                </observers>
            </website_delete_after>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Steerfox_Plugins before="Mage_Adminhtml">Steerfox_Plugins_Adminhtml</Steerfox_Plugins>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <steerfox_plugins>
                    <file>steerfox_plugins.xml</file>
                </steerfox_plugins>
            </updates>
        </layout>
        <routers>
            <steerfox>
                <use>standard</use>
                <args>
                    <module>Steerfox_Plugins</module>
                    <frontName>steerfox</frontName>
                </args>
            </steerfox>
        </routers>
        <translate>
            <modules>
                <steerfox_plugins>
                    <files>
                        <default>Steerfox_Plugins.csv</default>
                    </files>
                </steerfox_plugins>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <steerfox_plugins>
                    <file>steerfox_plugins.xml</file>
                </steerfox_plugins>
            </updates>
        </layout>
        <translate>
            <modules>
                <steerfox_plugins>
                    <files>
                        <default>Steerfox_Plugins.csv</default>
                    </files>
                </steerfox_plugins>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <steerfox_plugins>
            <export>
                <folder_name>steerfox_export</folder_name>
            </export>
            <catalog>
                <export_margin>1</export_margin>
                <use_sku_for_mpn>1</use_sku_for_mpn>
            </catalog>
            <tags>
                <shipping>1</shipping>
            </tags>
            <latest_release_info>http://plugins.steerfox.com/magento_info.json</latest_release_info>
        </steerfox_plugins>
    </default>
</config>
